<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Source" value="https://www.myget.org/F/bluechilli-mobile/" />
    <add key="PushSource" value="https://www.myget.org/F/bluechilli-mobile/api/v2/package" />
    <add key="Username" value="bluechilli" />
    <add key="Password" value="TKuzR7BVrU9mqWk" />
    <add key="ApiKey" value="1660902d-ef34-4ce3-8217-bef69d90ba6b" />
    <add key="SymbolsSource" value="http://nuget.gw.symbolsource.org/MyGet/bluechilli-mobile"/>
    <add key="Nuget" value="nuget.exe"/>
  </appSettings>
</configuration>